<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %} | Charlotte Van Petegem</title>
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="blog/atom.xml", trailing_slash=false) }}">
        <link rel="stylesheet" href="{{ get_url(path="/style.css") }}">
        <link rel="me" href="https://ohai.social/@chvp">
    </head>

    <body>
        <header>
            <nav>
                <ol>
                    <li><a href="{{ get_url(path="@/_index.md" )}}">Homepage</a></li>
                    <li><a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></li>
                </ol>
            </nav>
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>
        <footer>
            <nav>
                <ol>
                    <li><a href="{{ get_url(path="@/about.md") }}">About me</a></li>
                    <li><a href="{{ get_url(path="blog/atom.xml", trailing_slash=false) }}">Atom/RSS</a></li>
                    <li>This website was lovingly crafted using <a href="https://www.getzola.org" target="_blank" rel="noopener nofollow noreferrer">Zola</a>.</li>
                </ol>
            </nav>
        </footer>
    </body>
</html>
